<nav class="green">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">{{title}}</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
        class="material-icons"
      >menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/">
          <i class="material-icons">refresh</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="/">
      <i class="material-icons">refresh</i>
    </a>
  </li>
</ul>